html,
body {
    height: 100%;
}

.header {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.header img {
  height: 116px;
  padding-top: 27px;
  vertical-align: top;
}

.header h1 {
  background: linear-gradient(to right, green, red, deepskyblue, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 72px;
  text-align: center;
  display: inline-block;
}

.header a {
  float: right;
}

.main-container {
  display: flex;
  height: calc(100% - 100px);
}

.half {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.configuration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 4rem;
}

.configuration .inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: center;
  max-width: 550px;
}

.container {
  display: flex;
  justify-content: center;
}

.circle {
  border-radius: 140px;
  width: 140px;
  height: 140px;
  line-height: 140px;
  background: grey;
  margin-left: 75px;
}

.animate {
  -webkit-animation: myfirst var(--animation_speed);
  animation: myfirst var(--animation_speed);
}

@keyframes myfirst {
  100% {background: var(--color);}
}

@-webkit-keyframes myfirst {
  100% {background: var(--color);}
}

#title {
  text-align: center;
  font-size: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-bottom: 40px;
}
